$background-color: #ece0e8;
$color-primary-light: #ca3782;
$color-primary-dark: #1e0b36;
$color-black: #000;
$color-gray-dark: #aaa;
$color-gray-light: #eee;
$color-white: #fff;


@mixin absCenter {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

@mixin flexCenter {
 flex-flow: row;
 align-items: center;
 justify-content: center;
}

@mixin respond($breakpoint) {
 @if $breakpoint == phone {
  @media (max-width: 37.5em) {
   @content;
  } // < 600px
 }
 @if $breakpoint == tab-port {
  @media (max-width: 56.25em) {
   @content;
  } // < 900px
 }
 @if $breakpoint == tab-land {
  @media (max-width: 75em) {
   @content;
  } // < 1200px
 }
 @if $breakpoint == big-desktop {
  @media (min-width: 112.5em) {
   @content;
  } // > 1800px
 }
}

/* Reset */
*,
*::after,
*::before {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html {
  // 10px as 1rem.
  font-size: 62.5%;
 
  @include respond(tab-land) {
   // width < 1200?
   font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25
  }
  @include respond(tab-port) {
   // width < 900?
   font-size: 50%; 
  }
  @include respond(big-desktop) {
   font-size: 75%;
  }
 }
body {
  height: 100vh;
  background-color: $background-color;
 }
 
 .App {
  display: flex;
  @include flexCenter;
  padding: 4rem;
  height: 100%;
  position: relative;
 
  @include respond(phone) {
   padding: 1rem;
  }
 }
 
 .card {
  max-height: 80%;
  overflow-y: hidden;
  flex: initial;
  position: relative;
  height: 30rem;
  width: 20rem;
  -moz-perspective: 200rem;
  perspective: 200rem;
  margin: 2rem;
 
  &__side {
   height: 52rem;
   transition: all 0.8s ease;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   -webkit-backface-visibility: hidden; /* We don't want to see the back part of the element. */
   backface-visibility: hidden; /* We don't want to see the back part of the element. */
   border-radius: 3px;
   overflow: hidden; /* The image is overflowing the parent. */
   box-shadow: 0 2rem 6rem rgba($color-black, 0.15);
 
   &--front {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-dark, 0.65),
      rgba($color-primary-light, 0.7)
     ),
     url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
   }
 
   &--back {
    background-color: $color-white;
    transform: rotateY(180deg);
   }
  }
 
  &:hover &__side--back {
   transform: rotateY(0);
  }
  &:hover &__side--front {
   transform: rotateY(-180deg);
  }
 
  // Front side of the card
  &__theme {
   @include absCenter;
   top: 54%;
   width: 90%;
   text-align: center;
  }
 
  &__theme-box {
   color: $color-white;
   margin-bottom: 8rem;
  }
 
  &__subject {
   font-family: "Inconsolata", monospace;
   letter-spacing: 0.8rem;
   font-size: 1.6rem;
   text-transform: uppercase;
   margin-bottom: 1rem;
  }
 
  &__title {
   font-family: "VT323", monospace;
   text-transform: uppercase;
   font-size: 6rem;
   font-weight: 100;
  }
  
  // Back side of the card
  &__cover {
   position: relative;
   background-size: cover;
   height: 14rem;
   // background-blend-mode: screen;
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
   clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   background-image: linear-gradient(
     to top right,
     rgba($color-primary-dark, 0.65),
     rgba($color-primary-light, 0.65)
    ),
    url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
  }
 
  &__heading {
   text-align: center;
   color: $color-white;
   @include absCenter;
   width: 75%;
  }
 
  &__heading-span {
    text-align: center;
   font-family: "VT323", monospace;
   font-size: 3.2rem;
   font-weight: 300;
   text-transform: uppercase;
   padding: 1rem 1.5rem;
   color: $color-white;
  }
 
  &__details {
   font-family: "Inconsolata", monospace;
   padding: 4rem 2rem;
   ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
 
    li {
     text-align: center;
     font-size: 1.8rem;
     padding: 0.2rem;
     object-fit: contain;
      
     &:not(:last-child) {
      border-bottom: 1px solid $color-gray-light;
     }
    }
   }
  }
 
  // Responsivity
  @media only screen and (max-width: 37.5em), only screen and (hover: none) {
   height: auto;
   border-radius: 3px;
   background-color: $color-white;
   box-shadow: 0 2rem 6rem rgba($color-black, 0.15);
 
   &__side {
    height: auto;
    position: relative;
    box-shadow: none;
 
    &--front {
     clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    }
 
    &--back {
     transform: rotateY(0);
    }
   }
 
   &:hover &__side--front {
    transform: rotateY(0);
   }
 
   &__details {
    padding: 3rem 2rem;
   }
 
   // Front side responsive styling
   &__theme {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 5rem 4rem 1.5rem 4rem;
    text-align: right;
   }
 
   &__theme-box {
    margin-bottom: 1.5rem;
   }
 
   &__title {
    font-size: 4rem;
   }
  }
 }
 

.card-image {
  max-width: 100%;
  width:  250px;
  height: 322px;
  object-fit: cover;
}






body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




#drink-collection {
  margin: 30rem;
  columns: 5;
  column-gap: 2cm;
}

button {
  position: relative;
  background-color: #4be069;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

.navbutton {
  position: relative;
  background-color: #0d63a4;
  border: 15px;
  border-radius: 5px;
  height: 3rem;
  width: 5rem;
  color: whitesmoke;
  font-size: 18px;
  justify-self: stretch;
}

.navbutton {
  position: relative;
  background-color: #0d63a4;
  border: 15px;
  border-radius: 5px;
  height: 3rem;
  width: 5rem;
  color: whitesmoke;
  font-size: 18px;
  justify-self: stretch;
}

nav {
  margin: 27px auto 0;

  position: relative;
  width: 590px;
  height: 50px;
  background-color: #b76d1e;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: rgb(5, 5, 5);
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 110px;
}
a:nth-child(3) {
  width: 100px;
}
a:nth-child(4) {
  width: 160px;
}
a:nth-child(5) {
  width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
  width: 160px;
  left: 310px;
  background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
  width: 120px;
  left: 470px;
  background-color: #e67e22;
}


.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* @keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
} */

.wholeNav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

}